<html>
<head>
    <script src="static/jquery.js"></script>
    <script src="static/highstock.js"></script>
    <script src="static/exporting.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>
<body>
<div id="demo">
    <div id="demo_content">
        <p id="group_html">频道:  </p>
        <input id="group_name" type="hidden" value="{{group_name}}"></input>
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>
</div>
<script>
    $(function () {
        Highcharts.setOptions({
            lang: {
               　 printChart:"打印图表",
                  downloadJPEG: "下载JPEG 图片" ,
                  downloadPDF: "下载PDF文档"  ,
                  downloadPNG: "下载PNG 图片"  ,
                  downloadSVG: "下载SVG 矢量图" ,
                  exportButtonTitle: "导出图片"
            }
        });
        var group_name = $("#group_name").val();
        $.getJSON('/data/'+group_name, function (data) {
            // Create the chart
            $('#container').highcharts('StockChart', {
                rangeSelector : {
                    selected : 1
                },

                title : {
                    text : '火车头监控'
                },

                series : [{
                    name : '总计',
                    data : data,
                    tooltip: {
                        valueDecimals: 1
                    }
                }]
            });
        });
        $.getJSON('/groups', function (data) {
            $.each(data, function(i, item) {
                if(group_name==item){
                    $("#group_html").append('<button onclick="javascript:window.location.href=\'/'+item+'\'" class="btn btn-primary" theme="default">'+item+'</button>');
                }else{
                    $("#group_html").append('<button onclick="javascript:window.location.href=\'/'+item+'\'" class="btn" theme="default">'+item+'</button>');
                }

            });
        })

});

</script>
</body>
</html>
